RewriteEngine On

# API maradjon érintetlen
RewriteRule ^api/ - [L]

# Ha a fájl vagy mappa létezik, ne bántsuk
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Minden más menjen a React index.html-re
RewriteRule . /index.html [L]

