html, body{
  padding: 0;
  margin: 0;
}

html, body{
  padding: 0;
  margin: 0;
}

.transition {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
  display: flex;
}

.panel {
  width: 50%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: center;
  background-image: url("../../assets/images/svg/Shoji.svg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}

.panel.left {
  transform-origin: left;
}

.panel.right {
  transform-origin: right;
}

.transition.active .left {
  animation: closeLeft 0.6s ease forwards,
             openLeft 0.6s ease 0.7s forwards;
}

.transition.active .right {
  animation: closeRight 0.6s ease forwards,
             openRight 0.6s ease 0.7s forwards;
}

@keyframes closeLeft {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

@keyframes closeRight {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

@keyframes openLeft {
  from { transform: scaleX(1); }
  to { transform: scaleX(0); }
}

@keyframes openRight {
  from { transform: scaleX(1); }
  to { transform: scaleX(0); }
}
